
.menu{
    display: flex;
    justify-content: space-between;
    background: #030303;
}

.menu-item{
    display: flex;
    align-items: center;
    padding-top: 5px;
    
}


.menu ul li{
    list-style-type: none;
    display: inline;
        
}

.menu-a{
    text-decoration: none;
    color: black;
    padding-left:10px;
    padding-right: 10px;
    color: #F1F1F1;
    font-size: 18px;
}
    
.icon{
    height: 58px;
    background: white;
    
}